.header {
  background-image: linear-gradient(274deg, $blue-dark-midtone, $blue-light-midtone);
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
}
.header_back-link {
  display: flex;
  margin-left: 4px;
}

.prof_title2 {
	background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 1px;
  padding-top: 20px;
  overflow: hidden;
  margin: 0;
}