.rollContainer-js{
  display: none;
  }
  .open .rollContainer-js{
    display: flex;
  
}

.info_title{
  margin-left: 11px;
  text-align: start;
  font-size: 36px;
  font-weight: bold;
  color:$color-dark;
}

.collapsible_container {
  font-family: HelveticaNeue;
  font-size: 36px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.info_collapsible{
  list-style: none;
}

.info_list{
  font-family: HelveticaNeue;
}

.options_list{
  margin: 0px;
  padding: 0px;

  list-style: none;
  width: 354px;
  height: 29px;
  color: $blue-dark;
  display: flex;
  justify-content: space-between;

}
.days-_count{
  margin-left: 16px;
  text-align: start;
}
.list_request{
  width: 118px;
  margin: 7.5px;
}

.info_list{
  margin: 0px;
  padding: 0px;
  font-family: HelveticaNeue;
}

.collapsible_icon{
  width: 20px;
  height: 20px;
  padding: 18px 0 18px 18px;
}


.create_date{
  font-size: 10px;
  margin: 10px 10px 0 10px;
}

.create_count{
  font-size: 18px;
  margin: 1px;
}

.box_visible{
  display: flex;
}

.text{
  font-size: 13px;
}

.text-from{
  text-align: right;
 
}

.text-to{
  text-align: left;

}

.date_container{
  width: 144px;
}

.right-arrow{
  width: 16px;
  height: 16px;
  margin: 20px;
  color: $color-dark;
}

.create_date{
  font-size: 10px;
}

.create_count{
  font-size: 18px;
}

.text{
  font-size: 13px;
  margin: 16px 0 7px;
}


.date{
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color:$color-light;
  width: 144px;
  height: 42px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-start{
  margin: 7px 16px 16px 16px;
}

.date-end{
  margin: 7px 16px 16px 0px;
}

.options_list{
  margin: auto;
  height: 29px;
  padding-bottom: 5px;
  border: 0.5px solid $blue-dark;
  border-radius: 4px;
}

.option{
  height: 27px;
  width: 118px;
  padding: 7px 0 0 0;
  text-transform: capitalize;
  cursor: pointer;
	
	&:nth-child(1), &:nth-child(2) {
		border-right: 0.25px solid $blue-dark;
  }
  &:nth-child(1) {
    border-radius: 4px 0 0 4px;
    border-right: 0.5px solid $blue-dark;

  }
  &:nth-child(3) {
    border-radius: 0 4px 4px 0;
  }
}

.selected-option{
  background-color: $blue-dark;	
  color:$color-light;
}

.delete-btn{
  font-family: HelveticaNeue;
  font-size: 18px;
  color: $blue-dark;
  text-transform: capitalize;
  background-color: none;
  border: none;
}