//Colors
$color-light:#ffffff;
$blue-light-midtone:#58beff;
$blue-dark-midtone:#5888ff;
$blue-dark:#007aff;
$color-dark:#111111;

//Font
@font-face {
    font-family: HelveticaNeue;
    src: url('../../fonts/HelveticaNeue.ttc');
}
$font-family: HelveticaNeue;